.navbar-main {
	--font-size-1: 28px;
	h3 {
		margin: 0;
	}

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px 56px;
	position: relative;
	z-index: 1;
	&__logo {
		display: flex;
		align-items: center;
		img {
			margin-right: 16px;
			width: 80px;
		}
		h3 {
			font-size: var(--font-size-1);
			font-weight: 900;
		}
	}
	&__btn {
		display: inline-block;
		font-weight: 700;
		font-size: var(--font-size-1);
	}

	&--decode {
		// color: white;
	}

	@media (max-width: 767.98px) {
		--font-size-1: 26px;

		padding: 20px 32px;
	}
	@media (max-width: 575.98px) {
		--font-size-1: 20px;

		padding: 16px 16px;

		&__logo {
			img {
				margin-right: 10px;
				width: 40px;
			}
		}
	}
}
